<!DOCTYPE html>
<html>
  <head>
    <title>Registro</title>
    <link href="/css/formulario.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/adminList.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%- include('../partials/headerNoneDeco.ejs') %> 
  <main>
    <div>
      <h1 class="titulo">Servicio a eliminar</h1>
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          <% for(service of serviceListed) { %>
            <tr>
              <td><%= service.id %></td>
              <td><%= service.name %></td>
              <td><%= service.desc %></td>
              <td><%= service.price %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    
    <form action="/admin/service/delete" method="post">
      <div class="column">
        <label for="idDelete">ID del servicio a eliminar</label>
        <input type="number" name="idDelete" id="idDelete" />
      </div>
      <button type="submit">Eliminar</button>
    </form>
  </main>
  <%- include('../partials/footer.ejs') %> 
  </body>
</html>