<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DiPro Rex</title>
    <link rel="icon" href="data:,">
    <link href="/css/home.css" rel="stylesheet" type="text/css">
    <link href="/css/homeCarrusel.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
  </head>

    <body>
    <%- include('../partials/header.ejs') %> 
    <main>

      <section class="section" id="inicio">
        <h1>DiPro Rex: Soluciones de diseño</h1>
        <p>
          Hacemos posible tu idea
        </p>
      </section>

      <section class="section" id="servicios">
        <h2>Nuestros servicios</h2>
        <div>
            <ul>
              <% cont = 0; %>
              <% for(service of serviceListed) { %>
              <% cont = cont+1; %>   
                <li>
                  <h3>Servicio <%= cont %>: <%= service.name %></h3>
                  <img id="IMGServicios" src="/assets/Imag<%= service.id %>.jpg" />
                  <div>
                    <div>
                      <a href="/servicio/ <%= service.id %>" >Saber mas</a>
                    </div>  
                    <div class="buttonCarrito">
                      <a href="/carrito">                        
                        <img src="/assets/Compra-Logo.png"/>
                      </a>
                    </div>
                  </div>
                </li>
              <% } %>
            </ul>
          </div>  
      </section>

      <section class="section" id="about">
        <h2>Sobre nosotros</h2>
        <div>
          <article>
            <img src="/assets/Nos1.jpeg" />
            <p>
              DiPro Rex nació en Córdoba en el 2022, como un deseo de sus
              fundadores de poder materializar y condensar sus pasiones:
              El diseño y la programación
            </p>
          </article>
          <article>
            <img src="/assets/Nos2.jpg" />
            <p>
              Pese a nuestra corta existencia como DiPro Rex, contamos con mas de 5
              años de experiencia en el mundo del diseño, las redes y el Marketing
            </p>
          </article>
          <article>
            <img src="/assets/Nos3.jpeg" />
            <p>
              Actualmente brindamos servicios a emprendedores de toda Latinoamérica, con clientes
              en Argentina, Uruguay y Paraguay
            </p>
          </article>
        </div>
      </section>    

      <section class="section" id="contact">
        <h2>Nuestros clientes</h2>
        <div class="slide">
          <div class="slide-inner">
              <input class="slide-open" type="radio" id="slide-1" 
                    name="slide" aria-hidden="true" hidden="" checked="checked">
              <div class="slide-item">
                  <img src="/assets/Cli1.png">
              </div>
              <input class="slide-open" type="radio" id="slide-2" 
                    name="slide" aria-hidden="true" hidden="">
              <div class="slide-item">
                <img src="/assets/Cli2.png">
              </div>
              <input class="slide-open" type="radio" id="slide-3" 
                    name="slide" aria-hidden="true" hidden="">
              <div class="slide-item">
                <img src="/assets/Cli3.png">
              </div>
              <label for="slide-3" class="slide-control prev control-1">‹</label>
              <label for="slide-2" class="slide-control next control-1">›</label>
              <label for="slide-1" class="slide-control prev control-2">‹</label>
              <label for="slide-3" class="slide-control next control-2">›</label>
              <label for="slide-2" class="slide-control prev control-3">‹</label>
              <label for="slide-1" class="slide-control next control-3">›</label>
              <ol class="slide-indicador">
                  <li>
                      <label for="slide-1" class="slide-circulo">•</label>
                  </li>
                  <li>
                      <label for="slide-2" class="slide-circulo">•</label>
                  </li>
                  <li>
                      <label for="slide-3" class="slide-circulo">•</label>
                  </li>
              </ol>
          </div>
      </div>
      </section>

      <section class="section" id="contact">
        <h2>Contactate con nosotros</h2>
        <form action="mailto:gnbeltramo@gmail.com" method="post" enctype="text/plain">                        <!-- Envia los datos de formulario a una dirección en particular y con un metodo en especifico -->
          <input type="text" placeholder="Nombre" />
          <input type="email" placeholder="Email" required />
          <textarea required></textarea>
          <div>
              <label for="terms">Acepto los terminos y condiciones</label>
              <input type="checkbox" id="terms" required />       <!-- Vincula el "Checkbox con los terminos y condiciones"-->                    
          </div>
          <button type="submit">Enviar</button>
        </form>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %> 
    </body>
</html>